<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 {% load static %}
  <link rel="stylesheet" href="{%static 'css/styleCheques.css' %}">
  <title>Nueva Tarjeta</title>
</head>
<header class="divs-Header">
  <div class="divs-logins">
    <a class="titulos-header" href="{% url 'inicio' %}">Menu principal</a>
    <a class="titulos-header" href="{% url 'index' %}"> Salir</a>
  </div>
</header> 
<body>
  <div class="div-Global">
    <div class="divs-Principales">
      <h4 class="titulos-princ">Agregar Nueva Tarjeta</h4>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="divs-derecha">
        <h4 class="letra-elementos">Tarjeta numero: {{ tarjeta }}, seguridad: {{ seguridad }}</h4>
        <h4 class="letra-elementos">Limite: Q{{ limite }}, ${{ dolares }}</h4>
        <h4 class="letra-elementos">Codigo de usuario:</h4>
        <br>
        {{ form.as_p }}
        <br>
         <button class="boton-bloq" type="submit" value="Crear">Crear</button>
        <br>
        <h4 class="letra-elementos">{{ mensaje }}</h4>
      </div>
    </form>
  </div>
</body>
  <footer class="footer">
  <h4 class="letra-elementos">Banco El Ahorro - 2020</h4>
  </footer>
</html>