<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{%static 'css/stylePrestamo.css' %}">
  <title>Estado de Cuentas</title>
</head>
<header class="divs-Header">
  <div class="divs-logins">
        <a class="titulos-header" href="{% url 'inicioEmpresarial' %}">Menu principal</a>
    <a class="titulos-header" href="{% url 'index1' %}"> Salir</a>
  </div>
</header>
<body>
<div class="div-Global">
    <div class="divs-Principales">
      <h4 class="titulos-princ">Cuentas en el Banco El Ahorro</h4>
    </div>
  <form method="post">
        {% csrf_token %}
      <div class="divs-derecha">
          <h4 class="letra-elementos">Nombre: {{ nombre }}</h4>
        <h4 class="letra-elementos">CUI: {{ cui }}</h4>
        <h4 class="letra-elementos">NIT: {{ nit }}</h4>
         <h4 class="letra-elementos">Direccion: {{ direccion }}</h4>
          <h4 class="titulos-princ">Tarjetas de credito</h4>
        <br>
        {% for codigo, seguridad, limite, gasto, marca, usuario, bono, tipo1, dolares in cuentas %}
        <h4 class="letra-elementos">Tarjeta: {{marca}} {{ codigo }}  </h4>
        <br>
        <h4 class="letra-elementos">Saldo: Q{{ gasto }}</h4>
        <br>
        <h4 class="letra-elementos">Limite: Q{{ limite }} ${{dolares}}</h4>
        <br>
        {% if tipo1 %}
        <h4 class="letra-elementos">Puntos: {{ bono }}</h4>
        {% else %}
        <h4 class="letra-elementos">CashBack:Q {{ bono }}</h4>
        {% endif %}
        <button class="boton-bloq" type="submit" value= "{{ codigo }}" name="Historial">Historial</button>
        <br>
        {% endfor%}
      </div>
  </form>
</div>
</body>
<footer class="footer">
  <h4 class="letra-elementos">Banco El Ahorro - 2020</h4>
</footer>
</html>