<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% load static %}
  <link rel="stylesheet" href="{%static 'css/stylePlanillas.css' %}">
  <title>Pagar Planillas</title>
</head>
<header class="divs-Header">
  <div class="divs-logins">
    <a class="titulos-header" href="{% url 'inicioEmpresarial' %}">Menu principal</a>
    <a class="titulos-header" href="{% url 'index1' %}"> Salir</a>
  </div>
</header>
<body>
  <div class="div-Global">
    <div class="divs-Principales">
      <h4 class="titulos-princ">Pagar Planillas de Trabajo</h4>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="divs-izquierda">
        <h4 class="titulos-princ">Opciones</h4>
        <br>
        <button class="botons" type="submit" value="Formulario" name="Ingresar">Registrar Nuevo</button>
        <button class="botons" type="submit" value="Carga" name="Ingresar">Carga Masiva</button>
        <button class="botons" type="submit" value="Pagar" name="Ingresar">Realizar Pago</button>
      </div>
      <div class="divs-derecha">
        {% if var1 %}
        {{ form.as_p }}
        <button class="boton-bloq" type="submit" value="Formulario" name="Enviar">Registrar</button>
        {% elif var2 %}
        {{ form.as_p }}
        <button class="boton-bloq" type="submit" value="Carga" name="Enviar">Registrar</button>
        {% elif var3 %}
        <select name="select1" class="boxes">
        {% for codigo, tipo, moneda, monto in cuentas1 %}
        <option value="{{ codigo }}" selected>Cuenta {{ tipo }} {{ codigo }} - {{ moneda }}{{monto}}</option>
        {% endfor%}
        </select>
        <br>
        <button class="boton-bloq" type="submit" value="Pagar" name="Enviar">Pagar</button>
        {% endif %}
        <h4 class="letra-elementos">{{ mensaje }}</h4>
      </div>
    </form>
  </div>
</body>
  <footer class="footer">
  <h4 class="letra-elementos">Banco El Ahorro - 2020</h4>
  </footer>
</html>