<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% load static %}
  <link rel="stylesheet" href="{%static 'css/stylePrestamo.css' %}">
  <title>Historial</title>
</head>
<header class="divs-Header">
  <div class="divs-logins">
    <a class="titulos-header" href="{% url 'inicioNormal' %}">Menu principal</a>
    <a class="titulos-header" href="{% url 'index1' %}"> Salir</a>
  </div>
</header> 
<body>
  <div class="div-Global">
    <div class="divs-Principales">
      <h4 class="titulos-princ">Historial de Transacciones</h4>
    </div>
    <div class="divs-derecha">
      <h4 class="titulos-princ">Prestamo: {{ titulo }} </h4>
      <br>
      <form method="post">
        {% csrf_token %}
         <select name="select1" class="boxes">
         {% for codigo, tipo, moneda, monto in cuentas1 %}
        <option value="{{ codigo }}" selected>Cuenta {{ tipo }} {{ codigo }} - {{ moneda }}{{monto}}</option>
        {% endfor%}
        </select>
        <br>
        <button class="boton-bloq" type="submit" value= "pagar" name="historial">Pagar Cuota</button>
        <button class="boton-bloq" type="submit" value= "adelantar" name="historial">Adelantar pago</button>
      </form>
      <h4 class="letra-elementos">{{ mensaje }}</h4>
      <br>
      <div class="tables">
        <table border="1">
          <caption>Transacciones</caption>
          <tbody>
          <tr>
              <td>Cuota</td>
              <td>Estado</td>
              <td>Monto de cuota</td>
              <td>Interes de cuota</td>
              <td>Fecha</td>
              <td>Pagado</td>
            </tr>
          {% for prestamo, cuota, estado, monto, interes, fecha, pago in cuentas %}
            <tr>
              <td>{{ cuota }}</td>
              <td>{{ estado }}</td>
              <td>Q{{ monto }}</td>
              <td>{{ interes }}%</td>
              <td>{{ fecha }}</td>
              <td>Q{{ pago }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
</body>
  <footer class="footer">
  <h4 class="letra-elementos">Banco El Ahorro - 2020</h4>
  </footer>
</html>